*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg,white, rgb(25, 24, 96));
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.movie-list-container h2 {
    font-size: 28px;
    width: 100%;
    color: black;
    box-shadow: 0px 2px 4px white;
}
main{
    flex-grow: 1;
}

.movie-list-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 60px;
    padding: 26px 20px;
    max-width: 1024px;
    margin: 0 auto;
}
header{
    background-color: #2B2D42;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
header a{
    text-decoration: none;
    color: inherit;
}
header img:hover{
    background-color: rgb(228, 161, 167);
}
header span{
    font-size: 36px;
}
.add-button{
    background-color: #EF233C;
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.add-button:hover{
    background-color: rgb(228, 161, 167);
}

footer{
    background-color: #F4F5F6;
    text-align: center;
    font-size: 17px;
    padding: 15.25px;
}
.movie-card{
    background-color:  #f4f5f6;
    border: 1px solid #8d99ae;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 3px 0px #00000040;
    border-radius: 12px;
    overflow: hidden;
    min-height: 360px;
    transition: box-shadow 0.3s ease-in-out;
    animation: fadeInUp 1.5s ease-out forwards;
}
.movie-card:hover{
    box-shadow: 8px 8px 16px 14px rgb(136, 223, 255);
}
.movie-card img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.movie-card h3 {
    font-weight: 700;
    font-size: 16px;
    margin-top: 19px;
}
.rating {
    color: red;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 18px;
    -webkit-text-stroke: 1px #ef233c;
}
.star-empty {
  color: white;
}
.movie-card-link{
    text-decoration: none;
    color: inherit;
    display: flex;
}
@keyframes fadeInUp{
    from {
        opacity: 0;
        transform: translateY(20);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*add-review==================================================*/
.form-page-container{
    max-width: 800px;
    margin: 60px auto;
}
.form-page-container h2{
    text-align: center;
    font-family: arial;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400px;
}
.form-container{
    background-color: white;
    padding: 33px 61px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 4px #00000040;
}
.form-group{
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-family: arial;
}
.form-group label{
    font-size: 25px;
    margin-bottom: 6px;
}
.form-group input,
.form-group select,
.form-group textarea{
    width: 100%;
    height: 40px;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid #e8eaed;
    font-size: 16px;
    color: #1E1E1E;
    font-family: inherit;
}
.form-row{
    display: flex;
    gap: 20px;
}
.form-row .form-group{
    flex: 1;
}
.form-group textarea{
    height: 80px;
}
.submit-button{
    background-color: #2B2D42;
    color: white;
    width: 100%;
    height: 45px;
    border-radius: 15px;
    font-size: 20px;
    font-family: arial;
    border: none;
    cursor: pointer;
}
#rating-select {
  line-height: normal;
  padding-top: 6px;
  padding-bottom: 8px;
}
/*details-dark-knight======================================*/
.movie-details-container {
  /* Layout com Flexbox */
  display: flex;
  align-items: flex-start;
  gap: 65px;
  max-width: 1200px;
  margin: 55px auto;
  background-color: #f4f5f6;
  padding: 86px 90px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.movie-poster {
  flex-shrink: 0; 
}

.movie-poster img {
  width: 380px;
  border-radius: 12px;
}

.movie-details-info h1 {
  font-size: 46px;
  margin-bottom: 30px;
}

.movie-details-info p {
  font-size: 22px;
  line-height: 1.5; 
}

.movie-section {
  margin-bottom: 20px;
}

.rating-details {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.rating-details .rating {
  margin: 0;
}

.review-title {
  margin-bottom: 5px;
}
.rating{
    font-size: 34px;
}
/*responsividade===================================*/
@media (max-width: 540px){
    .movie-list-container{
        justify-content: center;
    }
    .form-page-container{
        margin: 30px auto;
        padding: 0 15px;
    }
    .form-page-container h2{
        font-size: 30px;
    }
    .form-container{
        padding: 20px 25px;
    }
    .form-group{
        font-size: 20px;
    }
    .form-row{
        flex-direction: column;
        gap: 0px;
    }

    .movie-details-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        margin: 30px 15px;
    }
    .movie-poster img{
        width: 100%;
        max-width: 280px;
    }
    .rating{
        font-size: 20px;
    }
    .movie-details-info h1{
        font-size: 24px;
        text-align: center;
    }
     .movie-details-info p {
        font-size: 16px;
    }
}
