    {% extends 'layout.html' %}
    {% block title %}My movie library{% endblock %}
    {% block content %}
    <div class="movie-list-container">
        {% for movie in movies %}
        <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="movie-card-link">
            <div class="movie-card">
                <img src="{{ movie.image_url }}" alt="poster for {{ movie.title }}" />
                <h3>{{ movie.title }}</h3>
                <div class="rating">
                    {% for i in range(5) %}
                        {% if (i + 1) <= (movie.stars|int) %}
                            <span>★</span>
                        {% else %}
                            <span class="star-empty">★</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endblock %}