<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Universal.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/book_15028725.png') }}">
</head>
<body>
    <div class="background-img">
        <div>
            <h2>Login</h2>
            <form method="POST" action="/login">
                <input type="text" name="usuario" id="Nome" placeholder="Nome" required>
                <input type="password" name="senha" id="Senha" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>
        </div>

        {% if erro %}
        <script>
            alert("{{ erro }}");
        </script>
        {% endif %}
    </div>
</body>
</html>
