{% extends "layout.html" %}

{% block title %}{{ movie.title }} - My Movie Library{% endblock %}

{% block content %}

<div class="movie-details-container">
    <div class="movie-details-body">
        <div class="movie-poster">
            <img src="{{ movie.image_url }}" alt="Poster for {{ movie.title }}" />
        </div>

        <div class="movie-details-info">
            <h1 class="movie-title">{{ movie.title }}</h1>
            <div class="movie-section">
                <p><strong>Watched on:</strong> {{ movie.watched_date }}</p>
            </div>
            <div class="movie-section rating-details">
                <p><strong>Rating:</strong></p>
                <div class="rating">
                    {% for i in range(5) %} {% if (i + 1) <= (movie.stars|int) %}
                    <span>★</span>
                    {% else %}
                    <span class="star-empty">★</span>
                    {% endif %} {% endfor %}
                </div>
            </div>
            <div class="movie-section">
                <p class="review-title"><strong>Review:</strong></p>
                <p>{{ movie.review }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
